* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.flex {
	display: flex;
}
.flex_column {
	flex-direction: column;
}
.flex_justify_center {
	justify-content: center;
}
.flex_justify_end {
	justify-content: flex-end;
}

.flex_alignitems_center {
	align-items: center;
}
.flex_gap_10 {
	gap: 10px;
}
@font-face 
{
	font-family: "Inter-SemiBold";
	src: url("TTF/Inter-SemiBold.ttf");
}
@font-face 
{
	font-family: "Inter-Bold";
	src: url("TTF/Inter-Bold.ttf");
}
@font-face 
{
	font-family: "Inter-Medium";
	src: url("TTF/Inter-Medium.ttf");
}
h1 {
	font-weight: normal;
	font-family: "Inter-Bold";
	font-size: 30px;
}
h3 {
	font-weight: normal;
	font-family: "Inter-Bold";
	font-size: 20px;
}
h4 {
	font-weight: normal;
	color: #3f3f3f;
	font-family: "Inter-Medium";
	font-size: 16px;
}
html {
	display: flex;
	justify-content: center;
}
body {
	overflow: overlay;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	max-width: 1520px;
	height: 100%;
	transition-duration: 0.8s;
}
body::-webkit-scrollbar {
	width: 3px;
	background-color: #00000000;
}
body::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-radius: 5px;
}
.to_switch_scroll {
	transition-duration: 0.5s;
	display: none;
	transform: translateX(100px);
	opacity: 0;
}
#modal_wrapper {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	z-index: 5;
	padding: 20px;
	background-color: #1A1A1A71;
	transition-duration: 0.5s;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	opacity: 0;
	display: none;
}
#window_settings {
	height: 550px;
	width: 100%;
	min-width: 300px;
	max-width: 550px;
	background-color: #FFFFFF;
}
.import_profile_button_2 {
	background: linear-gradient(65deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgb(69 217 252) 100%) !important;
}
.import_profile_button {
	cursor: pointer;
	height: 70px;
	width: 300px;
	padding: 0 15px 0 0;
	background: linear-gradient(65deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(69,252,115,1) 100%);
}
#welcome_import_wrapper {

}
#loader_wrapper {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	z-index: 5;
	padding: 20px;
	clip-path: inset(60px 0 0 0);
}
#loader_window {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	height: 100%;
	width: 100%;
	max-width: 1480px;
	transition-duration: 0s;
    animation-timing-function: ease-out;
}
.big_avatar {
	background-image: url("WEBP/avatarki/1.webp");
	background-size: contain;
	background-color: #000000;
	height: 120px;
	width: 120px;
	border-radius: 120px;
	border: 0px solid red;
}
.small_avatar {
	background-size: contain;
	background-color: #000000;
	height: 50px;
	width: 50px;
	border-radius: 120px;
	border: 0px solid red;
}
.small_avatar_p {
	cursor: pointer;
}
.ava_1 {
	background-image: url("WEBP/avatarki/1.webp") !important;
}
.ava_2 {
	background-image: url("WEBP/avatarki/2.webp") !important;
}
.ava_3 {
	background-image: url("WEBP/avatarki/3.webp") !important;
}
.ava_4 {
	background-image: url("WEBP/avatarki/4.webp") !important;
}
.ava_5 {
	background-image: url("WEBP/avatarki/5.webp") !important;
}
.ava_6 {
	background-image: url("WEBP/avatarki/6.webp") !important;
}
input {
	height: 50px;
	width: 300px;
	border: none;
	background-color: #f2f2f2;
	color: #000000;
	padding: 0 10px 0 10px;
	font-weight: normal;
	font-family: "Inter-Medium";
	font-size: 20px;
}
input:focus {
	outline: none;
}
#microlaba_big_logo {
	background-image: url("SVG/microlaba_big_logo.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 400px;
	width: 400px;
	transition-duration: 0.3s;
}
header {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100px;
	padding: 20px 20px 0 20px;
	z-index: 0;
}
@media screen and (max-width: 500px) {
	#microlaba_big_logo {
		background-image: url("SVG/microlaba_big_logo.svg");
		height: 200px !important;
		width: 200px !important;
	}
}
@media screen and (max-height: 500px) {
	#input_field_wrapper {
		flex-direction: row !important;
		gap: 10px;
	}
	#microlaba_big_logo {
		height: 200px !important;
		width: 200px !important;
	}
}
@media screen and (max-width: 600px) {
	header {
		height: 165px;
	}
	.header_white_plate {
		padding: 15px 15px 15px 15px !important;
		flex-direction: column !important;
	}
	.header_white_plate_shadow {
		min-height: 145px !important;
		margin-top: -145px !important;
	}
	.header_logobox {
		width: 100%;
		justify-content: flex-start !important;
	}
	.header_buttonbox {
		width: 100%;
		justify-content: space-between !important;
	}
	#buttons_header_profile {
		flex-direction: row-reverse;
	}
	.menu_container {
		margin: 165px 0 0 0 !important;
	}
	#buttons_header {
		transform: translateY(80px);
	}
	#loader_window {
		transition-duration: 0s;
	    animation-timing-function: ease !important;
	}
}
@media screen and (min-width: 601px) {
	#buttons_header {
		transform: translateY(-80px);
	}
}
#microlaba_header {
	opacity: 0;
	transition-duration: 0.5s;
	transform: translateY(-80px);
}
#buttons_header {
	opacity: 0;
	transition-duration: 0.5s;
	transition-delay: 0.1s;
}
.header_white_plate {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px 0 15px;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 1480px;
	height: 100%;
}
.header_white_plate_shadow {
	background-color: #9483fe;
	width: inherit;
	max-width: 1480px;
	min-height: 80px;
	z-index: -1;
	margin-top: -80px;
	border-radius: 20px;
	filter: blur(20px);
	opacity: 0;
	transition-duration: 1s;
}
.microlaba_logo {
	background-image: url("SVG/microlaba_logo.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
}
.icon_settings {
	background-image: url("SVG/icon_settings.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	cursor: pointer;
	transition-duration: 0.2s;
}
.icon_settings_profile {
	background-image: url("SVG/icon_settings_profile.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
}
.icon_settings_saves {
	background-image: url("SVG/icon_settings_saves.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
}
.icon_warning {
	background-image: url("SVG/icon_warning.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
}
.icon_settings:hover {
	scale: 0.93;
}
button {
	height: 50px;
	padding: 0 15px 0 15px;
	font-family: "Inter-Medium";
	font-size: 20px;
	border: none;
	background-color: #1180ff;
	color: #ffffff;
	cursor: pointer;
	transition-duration: 0.2s;
}
#button_go {
	margin-bottom: -60px;
}
.button_go {
	display: flex;
	justify-content: flex-end;
	gap: 15px;
	align-items: center;
	background: linear-gradient(65deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(69,252,115,1) 100%);
	background-size: 340px;
	color: #000000;
	width: 300px;
	transition-duration: 0.5s;
}
.button_go:hover {
	background: linear-gradient(65deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 73%, rgba(26,228,77,1) 100%);
}
.button_warning {
	display: flex;
	justify-content: flex-end;
	gap: 15px;
	align-items: center;
	background: linear-gradient(65deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(255,80,80,1) 100%);
	background-size: 340px;
	color: #000000;
	width: 300px;
	transition-duration: 0.5s;
}
.button_warning:hover {
	background: linear-gradient(65deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 73%, rgba(254,0,0,1) 100%);
}
#export_data_link_buttoncopy {
	background-image: url("SVG/icon_copy.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	min-width: 50px;
	min-height: 50px;
	background-color: #e7cfff;
}
#export_data_link_buttoncopy:hover {
	background-color: #dcb8ff !important;
}
#button_edit_sbros {
	width: 300px;
	background-color: #ff2b2b;
	transition-duration: 0.2s;
}
#button_edit_sbros:hover {
	background-color: #d81414;
}
.arrow_save {
	background-image: url("SVG/arrow-save.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 30px;
	width: 36px;
	margin-right: 5px;
}
.icon_ok {
	background-image: url("SVG/icon_ok.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 30px;
	width: 36px;
	margin-right: 5px;
}
.arrow_right {
	background-image: url("SVG/arrow-right.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 30px;
	width: 36px;
}
.arrow_left_b {
	background-image: url("SVG/arrow-right_black.svg");
	rotate: 180deg;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 30px;
	width: 36px;
}
.arrow_right_b {
	background-image: url("SVG/arrow-right_black.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 30px;
	width: 36px;
}
.button_start {
	display: flex;
	align-items: center;
	gap: 10px;
	width: fit-content;
	background-color: #1a1a1a;
	transition-duration: 0.3s;
}
.button_start:hover {
	background-color: #096c0f !important;
}
.menu_container {
	opacity: 0;
	transform: translateY(30px);
	transition-duration: 0.5s;
	margin: 100px 0 0 0;
	padding: 20px 20px 110px 20px;
	gap: 20px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.menu_entry {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 13px 15px 15px 15px;
	flex-grow: 1;
	background-color: white;
	width: 330px;
	min-width: 330px;
	height: 550px;
}
.progress {
	position: relative;
	height: 50px;
	color: #838383;
	padding: 0 15px 0 15px;
	background-color: #d3d3d3;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Inter-Medium";
	font-size: 20px;
}
.progress_green {
	position: absolute;
	height: inherit;
	left: 0;
	width: 0px;
	background-color: #37db27;
}
.grade {
	min-height: 50px;
	min-width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d3d3d3;
	color: #838383;
	font-family: "Inter-Medium";
	font-size: 20px;
}
#led_entry {
	background-image: url("SVG/entry_bg_led.svg");
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 250px;
}
#led_entry_fg {
	background-image: url("WEBP/entry_fg_led.webp");
	height: 250px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
#eds_entry {
	background-image: url("SVG/entry_bg_eds.svg");
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 498px;
}
#voda_entry {
	background-image: url("WEBP/entry_bg_voda.webp");
	background-repeat: no-repeat;
	background-position: left bottom;
    background-size: 500px;
    background-position-x: -211px;
}
.menu_entry:hover {
	/*scale: 0.97;*/
}
footer {
	position: fixed;
	display: flex;
	justify-content: center;
	height: 90px;
	width: 100%;
	bottom: 0;
	padding: 0 20px 20px 20px;
	transform: translateY(100%);
	transition-duration: 0.3s;
}
.footer_content_container {
	padding: 0 10px 0 10px;
	display: flex;
	justify-content: center;
	width: fit-content;
	height: 70px;
	background-color: #ffffff69;
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.footer_content_container_shadow {
	background-color: #ffffff;
    width: inherit;
    max-width: 1480px;
    min-height: 70px;
    z-index: -1;
    margin-top: -70px;
    border-radius: 20px;
    filter: blur(20px);
    opacity: 0;
    transition-duration: 1s;
}
.button_footer {
	transform: translateY(100%);
	transition-duration: 0.4s;
	padding: 0 10px 0 10px;
	height: 100%;
	gap: 5px;
	background-color: #ffffff00;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.button_footer:hover {
	transition-duration: 0.2s !important;
	transition-delay: 0s !important;
	scale: 0.93;
}